.logo {
    display: flex;
    justify-content: center;
    margin-right: 30px;;
}

.navLinks {
    display: flex;
    justify-content: start;
    width: 100%;
}

.navEl {
    text-decoration: none;
    padding: 30px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    cursor: grab;
}

.navEl:hover {
    color: gray;
}


.navAndLogo {
    display: flex;
    justify-content: space-between;
}
